.App {
  display: grid;
  margin: 30px 0;
  grid-template-columns: 50px auto auto 50px;
  grid-template-rows: auto;
  row-gap: 1em;
  grid-template-areas:
    ". upload upload ."
    ". table table ."
    ". transform transform ."
    ". map map .";
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
