.paper {
  &-wrapper {
    display: flex;
    height: max-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    min-height: 50px;
  }
}
